<section class="main-section bg-white p-8 rounded-lg shadow-md max-w-md w-full">
  <h2 class="text-2xl font-semibold text-center mb-6">Sign Up</h2>
  <!-- Email sign-up form -->
  <form id="emailSignupForm" action="/signup/email" method="POST" class="space-y-4">
    <div>
      <label for="userName" class="block text-gray-700 mb-1">Name:</label>
      <input type="text" id="name" name="userName" class="p-2 border border-gray-300 rounded w-full" required>
    </div>
    <div>
      <label for="email" class="block text-gray-700 mb-1">Email:</label>
      <input type="email" id="email" name="email" class="p-2 border border-gray-300 rounded w-full" required>
    </div>
    <div>
      <label for="password" class="block text-gray-700 mb-1">Password:</label>
      <input type="password" id="password" name="password" class="p-2 border border-gray-300 rounded w-full" required>
    </div>
    <button type="submit" class="bg-blue-500 text-white w-full py-2 rounded hover:bg-blue-600 transition duration-200">Sign Up</button>
  </form>

  <div mb-6 text-center>
    <h3 class="text-lg font-medium mb-2">Sign Up with Telegram</h3>

    <!-- Telegram login button -->
    <div class="mb-6 text-center flex justify-center">
      <script async src="https://telegram.org/js/telegram-widget.js?7" data-telegram-login="<%= process.env.TELEGRAM_BOT_USERNAME %>" data-size="large" data-radius="5" data-auth-url="/telegram/signup-callback" data-request-access="write">
      </script>
    </div>
  </div>
</section>
<script src="/js/signup.js"></script>